<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Teacher Training</title>
	<link media="all" rel="stylesheet" href="css/main.css">
</head>

<body>
	<!-- wrapper start -->
	<div id="wrapper">
		
		<!-- info start -->
		<div class="info-holder">
			<div class="holder">
				<h1>Forget Password</h1>
				<form action="#" class="form">
					<fieldset>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" id="email" class="form-control" placeholder="Please Write Email Address">
						</div>
						<input type="submit" value="Reset Password" class="btn btn-success btn-submit">
					</fieldset>
				</form>
			</div>
		</div>
		<!-- info start -->
		
	</div>
	<!-- wrapper end -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" defer></script>
	<script type="text/javascript">
		window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')
	</script>
	<script type="text/javascript" src="js/jquery.main.js" defer></script>
</body>

</html>