<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <div class="bar bar-header bar-dark">
      <ion-button class="btn-back" ng-click="newModal.hide()"><span class="icon-left-arrow"></span></ion-button>
      <h3>Add New Lecture</h3>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form" ng-model="form">
      <ion-list>
        <div class="item item-input item-stacked-label">
          <label for="lec-name">Lecture Name :</label>
          <input type="text" id="lec-name" class="form-control" placeholder="Lecture 1" name="description" ng-model="description" value="abc"/>
        </div>

        <ion-button ng-init="saveEmpty(form)" class="btn btn-primary" ng-click="addProject(form)">
          Add <span class="icon-plus"></span>
        </ion-button>
      </ion-list>
    </form>
  </ion-content>
</ion-modal-view>