<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <div class="bar bar-header bar-dark">
      <ion-button class="button icon-left ion-chevron-left button-clear" ng-click="newModal.hide()"></ion-button>
      <h1 class="title">Add New Project</h1>
    </div>
  </ion-header-bar>
  <ion-content has-header="true">
    <form name="form" ng-model="form">
      <ion-list>
        <li class="item item-input item-stacked-label">
          <!--<span class="input-label">Name :</span>-->
          <input type="text" placeholder="Project 1" name="description" ng-model="description" required/>
        </li>
        <!--<li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" name="useAsDefault" ng-model="useAsDefault"/>
          </label>
          <span class="input-label">Use as default</span>
        </li>-->
        <ion-button ng-init="saveEmpty(form)" class="button button-block button-positive" ng-click="addProject(form)">
          Add
        </ion-button>
        <!--<ion-button ng-show="action == 'change'" class="button button-block button-positive" ng-click="editItem(form)">
                          Edit
                </ion-button>-->
      </ion-list>
    </form>
  </ion-content>
</ion-modal-view>