<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <div class="bar bar-header bar-dark">
      <ion-button class="button icon-left ion-chevron-left button-clear " ng-click="newModal.hide()"></ion-button>
      <h1 class="title">Add New Lecture</h1>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form" ng-model="form">
      <ion-list>
        <li class="item item-input item-stacked-label">
          <span class="input-label">Lecture Name :</span>
          <input type="text" placeholder="Lecture 1" name="description" ng-model="description" required/>
        </li>

        <ion-button ng-init="saveEmpty(form)" class="button button-block button-positive" ng-click="addProject(form)">
          Add
        </ion-button>
      </ion-list>
    </form>
  </ion-content>
</ion-modal-view>