<ion-view view-title="Register" name="login-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.usernamereg">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.passwordreg">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="register()">Register</button>
    <a href="#/login" class="button button-block button-calm">Login</a>
  </ion-content>
</ion-view>
