<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Dashboard">
  <ion-content scroll="false">

    <!-- toolbox start -->
    <div class="tool-box right" custom-functions>
      <a href="#" class="drop-opener menu-opener"><span class="inner"></span></a>

      <div class="drop">
        <div class="holder">
          <a href="#" class="drop-opener menu-opener"><span class="inner"></span></a>
          <div class="jcf-scrollable">
            <ul class="imgs">
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>
              <li><img src="images/img1.jpg" alt="image description"
                       ng-click="drawImageOnCanvas('images/img1.jpg','img1')"></li>

            </ul>
          </div>
          <input type="file" data-jcf='{"buttonText": "Choose Image"}'>
        </div>
      </div>
    </div>
    <!-- toolbox end -->

    <!-- toolbox start -->
    <div class="tool-box" custom-functions>
      <a href="" class="drop-opener hamburger"><span class="hamburger-inner"></span></a>

      <div class="drop">
        <div class="holder">
          <ul>
            <li><a class="btn-logout" ng-click="logout()"><span class="icon-logout"></span></a></li>
            <li><a class="btn-scene" ng-click="openSceneModal()"><span class="icon-scene"></span></a></li>
            <li><a class="btn-lec" ng-click="openProjectModal()"><span class="icon-lec"></span></a></li>
            <li><a class="btn-new" ng-click=""><span class="icon-plus"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- toolbox end -->

    <!-- color picker start -->
    <div class="color-picker" custom-functions>
      <a href="" class="color-opener icon-colorpicker"></a>

      <div class="color-drop">
        <ul class="color-list">
          <li><a class="grayish-blue"></a></li>
          <li><a class="black"></a></li>
          <li><a class="vivid-cyan"></a></li>
          <li><a class="lime-green"></a></li>
          <li><a class="vivid-red"></a></li>
          <li><a class="yellow"></a></li>
        </ul>
      </div>
    </div>
    <!-- color picker end -->

    <!-- wrapper start -->
    <div arbi-canvas id="wrapper">
      <!-- header start -->
      <header id="header">
        <div class="btns-holder">
          <a class="btn-undo"><span class="icon-undo"></span></a>
          <a class="btn-redo"><span class="icon-redo"></span></a>
        </div>
      </header>
      <!-- header end -->

      <!-- content start -->
      <div ng-audio-recorder audio-model='recorded' show-player="false" time-limit="timeLimit" id="content"
           ng-init="selectedLineWidth = 2">
        <canvas id="rbcanvas"></canvas>


      </div>
      <!-- content end -->

      <!-- footer start -->
      <footer id="footer">
        <div class="btns-holder">
          <a class="btn-recording" ng-click="onclickRecord()"><span class="icon-record"></span></a>
          <a class="btn-pause" ng-click="onclickPause()"><span class="icon-pause"></span></a>
          <a class="btn-stop" ng-click="onclickStop()"><span class="icon-stop"></span></a>
          <a class="btn-play" ng-click="onclickPlay()"><span class="icon-play"></span></a>
          <a class="btn-video-pause" ng-click="onclickVideoPause()"><span class="icon-pause"></span></a>
          <a class="btn-video-stop" ng-click="onclickVideoStop()"><span class="icon-stop"></span></a>
        </div>
      </footer>
      <!-- footer end -->


    </div>
  </ion-content>
</ion-view>


<!--<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Dashboard">
	<ion-content scroll="false">
		<div arbi-canvas id="wrapper">
			<aside class="sidebar">
				<a href="#" id="aside-opener" class="aside-opener">
					<i class="fa fa-list-ul" aria-hidden="true"></i>
				</a>
				<div class="slide">
          <strong class="project-title">{{ project.project_name }}</strong>
					<ion-list can-swipe="true" class="jcf-scrollable list">
						<ion-item item="recording" class="item-remove-animate" id="{{ recording._id }}" ng-repeat="recording in recordings">
							<a href="" class="link" ng-click="savedPlaying(recording)">{{ recording.name }}</a>
							<a href="" class="fa fa-trash-o delete" ng-click="itemDelete(recording)"></a>
							<ion-reorder-button class="ion-navicon" on-reorder="moveItem(recording, $fromIndex, $toIndex)"></ion-reorder-button>
						</ion-item>
					</ion-list>
					<div class="btns-block">
            <a ng-click="logout()">Logout</a>
						<a id="delete-btn"><span class="fa fa-trash-o"></span> Delete All</a>
						<a><span class="fa fa-play"></span> Play All</a>
						<a class="lightbox" ng-click="openProjectModal()"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</aside>
			<aside class="aside">
				<a href="#" id="menu-opener" class="menu-opener">
					<i class="fa fa-list-ul" aria-hidden="true"></i>
				</a>
				<div class="menu-slide">
					<ul class="jcf-scrollable images-list">
						<li>
							<a href="#"><img src="images/img1.jpg" id="scream" ng-click="drawImageOnCanvas('images/img1.jpg','img1')" alt=""></a>
							<a href="#" class="btn-delete">
								<i class="fa fa-times-circle" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#"><img src="images/img2.jpg" ng-click="drawImageOnCanvas('images/img2.jpg','img2')" alt=""></a>
							<a href="#" class="btn-delete">
								<i class="fa fa-times-circle" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#"><img src="images/img3.jpg" ng-click="drawImageOnCanvas('images/img3.jpg','img3')" alt=""></a>
							<a href="#" class="btn-delete">
								<i class="fa fa-times-circle" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
					<a href="#" class="load-more">Load More</a>
				</div>
			</aside>
			<div class="btn-list">
				<div class="holder">
					<form id="recordingName" class="form">
						<fieldset>
							<div class="inner-holder">
								<div class="inner-box">
									<strong class="name"><a id="recording-text" href="#"></a></strong>
									<a href="#" class="opener"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								</div>
								<div class="input-holder">
									<input class="input" id="edit-recording-text" type="text" value="">
									<button type="submit" class="btn-submit">
										<i class="fa fa-paper-plane" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</fieldset>
					</form>
					<ul class="btns-holder">
						<li>
							<a data-drag="true" data-jqyoui-options="{revert: 'invalid',containment:'parent'}" jqyoui-draggable="{animate:true,onStop:'onPlay()',onDrag:'changeColorOnDrag'}" href="" id="play-btn" title="Swipe Me To Play">
								<i class="fa fa-play" aria-hidden="true"></i>
							</a>
							<a href="" class="arrow bounce">
								<span class="fa fa-angle-down" aria-hidden="true"></span>
								<span class="second fa fa-angle-down" aria-hidden="true"></span>
								<span class="fa fa-angle-down" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a data-drag="true" data-jqyoui-options="{revert: 'invalid',containment:'parent'}" jqyoui-draggable="{animate:true,onStop:'onNewRecording()',onDrag:'changeColorOnDrag'}" href="" id="newfile-btn" title="Swipe Me To Create New File">
								<i class="fa fa-file" aria-hidden="true"></i>
							</a>
							<a href="#" class="arrow bounce">
								<span class="fa fa-angle-down" aria-hidden="true"></span>
								<span class="second fa fa-angle-down" aria-hidden="true"></span>
								<span class="fa fa-angle-down" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a data-drag="true" data-jqyoui-options="{revert: 'invalid',containment:'parent'}" jqyoui-draggable="{animate:true,onStop:'onRetake()',onDrag:'changeColorOnDrag'}" href="" id="retake-btn" title="Swipe Me To Retake">
								<i class="fa fa-repeat" aria-hidden="true"></i>
							</a>
							<a href="#" class="arrow bounce">
								<span class="fa fa-angle-down" aria-hidden="true"></span>
								<span class="second fa fa-angle-down" aria-hidden="true"></span>
								<span class="fa fa-angle-down" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a data-drag="true" data-jqyoui-options="{revert: 'invalid',containment:'parent'}" jqyoui-draggable="{animate:true,onStop:'deleteRecording()',onDrag:'changeColorOnDrag'}" href="" id="delete-recording" title="Swipe Me To Delete Recording">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
							</a>
							<a href="#" class="arrow bounce">
								<span class="fa fa-angle-down" aria-hidden="true"></span>
								<span class="second fa fa-angle-down" aria-hidden="true"></span>
								<span class="fa fa-angle-down" aria-hidden="true"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div ng-audio-recorder audio-model='recorded' show-player="false" time-limit="timeLimit" id="content" ng-init="selectedLineWidth = 2">
        <a href="" id="btn-rub" class="btn-clear" style="right: 117px;"><i class="fa fa-eraser" aria-hidden="true"></i></a>
				<a href="" id="btn-clear" class="btn-clear"><i class="fa fa-times" aria-hidden="true"></i> clear</a>
				<div data-ng-app="canvasdemo">
					<canvas id="rbcanvas"></canvas>
				</div>
				<div class="btn-holder">
					<a href="#" id="main-btn" class="btn-primary"></a>
				</div>
				<div id="color-holder" class="color-holder">
					<div class="color-picker" data-drag="true" data-drop="true" jqyoui-draggable id="colorPicker">
						<div>
							<a class="color">
								<div class="colorInner"></div>
							</a>
							<div class="track"></div>
							<ul class="dropdown">
								<li></li>
							</ul>
							<input id="hidden-color" type="hidden" class="colorInput" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>-->
