.form-block{
  @include v-align(100%, middle, before);
}

.info-holder{
	height: inherit;
	min-height: 100%;
	overflow: auto;
	
	@include v-align(inherit, middle, before);
	
	.holder{
		text-align: left;
		width: 100%;
		padding: 20px 10px;
		margin: 0 0 0 -4px;
		
		@include media('≥phone') {max-width: 380px;}
	}
	
	.form-group{
		@extend %clearfix;
		margin: 0 0 15px;
	}
}

.footer-box{
	overflow: hidden;
	margin: -10px 0 25px;
	
	.forgot{
		float: right;
		margin: 3px 0 0;
		color: $vivid-blue;
		font-weight: 700;
		
		&:hover,
		&:active,
		&:focus{color: $black;}
	}
}

.check-holder{
	overflow: hidden;
	letter-spacing: -6px;
	
	label{
		vertical-align: middle;
		margin: 0;
	}
}

.btn-submit{
	display: block;
	width: 100%;
	margin: 0 0 20px;
	font-size: 18px;
	line-height: 25px;
	padding: 15px;
}

.divider{
	display: block;
	position: relative;
	text-align: center;
	margin: 0 0 15px;
	
	&:after{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		height: 1px;
		content: '';
		background: $light-grayish-blue;
	}
	
	.divider-holder{
		@include vertical-alignment(top);
		background: $white;
		color: $grayish-blue2;
		font-weight: 700;
		padding: 0 10px;
		text-transform: uppercase;
		z-index: 10;
		position: relative;
	}
}

.btns-list{
	@extend %listreset;
	overflow: hidden;
	margin: 0 -6px 15px;
	
	li{
		float: left;
		width: 50%;
		padding: 0 6px;
	}
	
	.btn{
		display: block;
		width: 100%; 
	}
}