.accordion {
	@extend %listreset;
	overflow: hidden;
	width: 100%;
	height: 100%;
	> li {
		overflow: hidden;
		font-size: 16px;
		line-height: 16px;
		> a {
			display: block;
			color: $white;
			padding: 10px 10px 10px 35px;
			position: relative;
			border-bottom: 1px solid $gray2;
			
			&:before{
				font-family: FontAwesome;
				content: '\f107';
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				padding: 0;
				font-size: 16px;
				line-height: 16px;
				position: absolute;
				top: 50%;
				left: 10px;
				margin-top: -8px;
			}
		}
		
		&.active{
			> a{
				&:before{content: '\f106';}
			}
		}
	}
}