$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/helpers';
@import 'base/reset';
@import 'base/functions';
@import 'base/mixins';

@import 'components/canvas';
@import 'components/sidebar';
@import 'components/aside';
@import 'components/content';
@import 'components/color-picker';
@import 'components/jcf';
@import 'components/form';
@import 'components/accordion';

#wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	background: $grayish-blue;
	@include cubic-transition(all, 600ms, 0.77, 0, 0.175, 1);
	&.aside-active {
		@include cubic-transition(all, 600ms, 0.77, 0, 0.175, 1);
		margin: 0 0 0 220px;
		@include media("≥tablet") {
			margin: 0 0 0 320px;
		}
	}
	
	&.menu-active {
		@include cubic-transition(all, 600ms, 0.77, 0, 0.175, 1);
		margin: 0 0 0 -150px;
		@include media("≥tablet") {
			margin: 0 0 0 -250px;
		}
	}
}

.resize-active #wrapper,
.resize-active #wrapper.aside-active,
.resize-active .slide {
	-webkit-transition: none;
	transition: none;
}