#content {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.btn-holder {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	pointer-events: none;
	text-align: center;
	visibility: visible;
	opacity: 1;
	@extend %transition;
	@include media("≥tablet") {
		bottom: 100px;
	}
}

.btn-primary {
	@include border-radius(35px);
	@include inline-block(top);
	pointer-events: all;
	padding: 5px 20px;
	background: $red;
	color: $white;
	position: relative;
	font-size: 18px;
	line-height: 18px;
	text-align: left;
	@include media("≥tablet") {
		font-size: 24px;
		line-height: 24px;
	}
	&:before {
		content: '\f111';
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		padding: 0;
		@include inline-block(top);
	}
	.text-stop {
		display: none;
	}
	&:hover,
	&:active,
	&:focus {
		color: $white;
		background: darken($red, 10%);
	}
	&.clear {
		position: absolute;
		right: 10px;
		top: 10px;
		display: none;
		background: $green;
		&:before {
			content: '\f044';
		}
		&:hover,
		&:active,
		&:focus {
			color: $white;
			background: darken($green, 10%);
		}
	}
}

.btn-clear {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	@include border-radius(35px);
	pointer-events: all;
	padding: 5px 15px 7px;
	background: $red;
	color: $white;
	position: relative;
	font-size: 18px;
	line-height: 18px;
	text-align: left;
	@include media("≥tablet") {
		font-size: 24px;
		line-height: 24px;
	}
	i {
		@include inline-block(top);
	}
	&:hover,
	&:active,
	&:focus {
		color: $white;
		background: darken($red, 10%);
	}
}

.aside-opener,
.menu-opener{
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	@extend %transition;
}

.record {
	.aside-opener,
	.menu-opener{
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		@extend %transition;
	}
	.btn-primary {
		background: $gray;
		.text-stop {
			display: block;
		}
		.text-record {
			display: none;
		}
		&:before {
			content: '\f04d';
		}
		&:hover,
		&:active,
		&:focus {
			color: $white;
			background: darken($gray, 10%);
		}
	}
	.btn-clear {
		@include inline-block(top);
		position: absolute;
	}
}

.btn-list {
	visibility: hidden;
	opacity: 0;
	background: black;
	@extend %transition;
	pointer-events: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	@include v-align(100%, middle, before);
	.holder {
		width: 100%;
		margin: 0 0 0 -4px;
	}
	.btns-holder{
		@extend %listreset;
		@extend %clearfix;
		letter-spacing: -6px;
		
		li{
			@include inline-block(top);
			padding: 0 2%;
			letter-spacing: 0;
			position: relative;
		  	height: 110px;

		  @include media("≥tablet") {height: 160px;}
		  @include media("≥desktop") {height: 215px;}
		  @include media("≥widescreen") {height: 240px;}
		}
	}
	a {
		@include inline-block(top);
		font-size: 20px;
		line-height: 20px;
		i {
			display: block;
			font-size: 50px;
			line-height: 50px;
		}
	}
	@include media("≥tablet") {
		a {
			font-size: 30px;
			line-height: 30px;
			i {
				font-size: 100px;
				line-height: 100px;
			}
		}
	}
	@include media("≥desktop") {
		a {
			font-size: 40px;
			line-height: 40px;
			i {
				font-size: 150px;
				line-height: 150px;
			}
		}
	}
	@include media("≥widescreen") {
		a {
			i {
				font-size: 170px;
				line-height: 170px;
			}
		}
	}
}

.stop {
	.btn-list {
		pointer-events: all;
		visibility: visible;
		opacity: 1;
		@extend %transition;
	}
	.color-holder,
	.btn-holder {
		visibility: hidden;
		opacity: 0;
		@extend %transition;
		pointer-events: none;
	}
}

#wrapper .arrow {
	position: absolute;
	left: 50%;
	bottom: 0;
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 0 -10px;
	color: $white;
	
	.fa{
		display: block;
		&:first-child{opacity: 0.5;}
		&.second{
			margin: -10px 0;
			opacity: 0.75;
		}
	}
}

#wrapper .bounce {
	@include animation(bounce, 1.5s, infinite, normal);
}

/* tooltip styles */
.hover-tooltip {
	background: $white;
	color: black;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	padding: 5px 10px;
	max-width: 100%;
	z-index: 999;
	&:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba($white, 0);
		border-top-color: #fff;
		border-width: 10px;
		margin-left: -10px;
	}

}