.tool-box{
	@extend %transition;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	pointer-events: none;
	visibility: visible;
	opacity: 1;
	overflow: visible;

	&.right{
		left: auto;
		right: 0;

		.drop-opener{
			float: right;
			margin: 20px 10px 0 0;

			@include media('≥tablet') {margin: 25px 25px 0 0;}
		}
	}
}

.drop-opener{
	font-size: 30px;
	line-height: 30px;
	margin: 30px 0 0 30px;
	float: left;
	pointer-events: all;
	@include transition($val:all , $duration:0.2s , $type:ease-in-out);
}

.tool-box{
	&.right{

		width: 70%;
		@include media('≥tablet') {width: 50%;}
		@include media('≥desktop') {width: 33.33%;}

		.drop{
			width: 100%;
			left: auto;
			right: -100%;

			.holder{
				height: 100%;
				padding: 35px 0 50px;
				position: relative;
				border-left-width: 1px;
				border-right-width: 0;
				border-top-width: 0;
				border-bottom-width: 0;
				@include border-radius(0, 0, 0, 0);
			}

			.menu-opener {
				@include rotate (0);
				@include media('<tablet') {@include scale(0.8);}
				position: absolute;
				right: 5px;
				top: 5px;
				margin: 0;

				.inner{
					&:before {
						top: 0;
						background: $light-blue;
						-webkit-transform: translate3d(0, 0, 0) rotate(45deg);
						transform: translate3d(0, 0, 0) rotate(45deg);
					}
					&:after {
						bottom: 0;
						background: $light-blue;
						-webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
						transform: translate3d(0, 0, 0) rotate(-45deg);
					}
				}
			}

		}
	}
}

.drop{
	@include transition($val:all , $duration:0.2s , $type:ease-in-out);
	@include v-align(100%, middle, before);
	position: absolute;
	left: -60px;
	width: 60px;
	top: 0;
	bottom: 0;
	z-index: 9999;

	@include media('≥tablet') {
		width: 85px;
		left: -85px;
	}

	.holder{
		@include border-radius(0, 5px, 5px, 0);
		border: 1px solid $grayish-blue;
		border-left-width: 0;
		margin: 0 0 0 -4px;
		pointer-events: all;
		overflow: hidden;
		background: $white;
		max-width: inherit;
		width: 100%;
	}

	.jcf-scrollable-wrapper,
	.jcf-scrollable{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		clear: both;
		width: 100% !important;
		height: 100% !important;
	}

	.jcf-scrollbar-vertical{right: 1px;}

	.jcf-file{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 20px;
		line-height: 20px;
		@include border-radius(0, 0, 0, 0);

		.jcf-fake-input{display: none;}
	}

	.imgs{
		letter-spacing: -7px;
		padding: 0 5px 0 0;

		li{
			@include vertical-alignment(top);
			padding: 0 5px 5px;
			width: 100%;

			@include media('≥phone') {width: 48%;}
			@include media('≥desktop') {width: 32%;}

			img{
				display: block;
				width: 100%;
				height: auto;
				border: 1px solid $light-gray2;
				@include border-radius(5px, 5px, 5px, 5px);
			}
		}
	}

	ul{
		@extend %listreset;
		overflow: hidden;

		li{overflow: hidden;}

		a {
			display: block;
			@include v-align(100%, middle, before);
			width: 60px;
			height: 60px;
			outline: 0;
			color: $grayish-blue;
			font-size: 20px;
			line-height: 20px;

			@include media('≥tablet') {
				font-size: 35px;
				line-height: 35px;
				width: 85px;
				height: 90px;
			}

			&:hover,
			&:active{color: $light-blue;}

			&.btn-stop,
			&.btn-recording{
				color: $red;

				&:hover,
				&:active{color: darken($red,5%);}
			}
		}
	}
}

.drop-active{
	&.tool-box{
		&.right{
			.drop{
				left: auto;
				right: 0;
			}
		}
	}

	.drop{
		@include transition($val:all , $duration:0.2s , $type:ease-in-out);
		left: 0;
	}

	.drop-opener{
		color: $light-blue;
		@include rotate (180);
		@include transition($val:all , $duration:0.2s , $type:ease-in-out);
	}

	.hamburger {
		@include rotate (0);
		@include media('<tablet') {@include scale(0.8);}

		.hamburger-inner{
			background: $light-blue;
			&:before {
				background: $light-blue;
				-webkit-transform: translate3d(-6px, 0, 0) rotate(-45deg) scaleX(.7);
				transform: translate3d(-6px, 0, 0) rotate(-45deg) scaleX(.7);
			}
			&:after {
				background: $light-blue;
				-webkit-transform: translate3d(-6px, 0, 0) rotate(45deg) scaleX(.7);
				transform: translate3d(-6px, 0, 0) rotate(45deg) scaleX(.7);
			}
		}
	}

	/*.menu-opener {
		@include rotate (0);
		@include media('<tablet') {@include scale(0.8);}

		.inner{
			&:before {
				top: 0;
				background: $light-blue;
				-webkit-transform: translate3d(0, 0, 0) rotate(45deg);
				transform: translate3d(0, 0, 0) rotate(45deg);
			}
			&:after {
				bottom: 0;
				background: $light-blue;
				-webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
				transform: translate3d(0, 0, 0) rotate(-45deg);
			}
		}
	}*/
}

.hamburger {
	font: inherit;
	float: left;
	position: relative;
	overflow: visible;
	margin: 20px 0 0 10px;
	padding: 10px 0;
	width: 30px;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: .15s;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	text-transform: none;
	color: inherit;
	border: 0;
	cursor: pointer;
	background-color: transparent;

	@include media('<tablet') {@include scale(0.8);}

	@include media('≥tablet') {margin: 25px 0 0 25px;}

	&:hover,
	&:active{
		.hamburger-inner {
			background: $light-blue;
			&:after,
			&:before {background: $light-blue;}
		}
	}

	.hamburger-inner {
		@include border-radius(5px, 5px, 5px, 5px);
		display: block;
		position: relative;
		width: 30px;
		height: 4px;
		transition-timing-function: ease;
		transition-duration: .15s;
		transition-property: -webkit-transform;
		transition-property: transform;
		transition-property: transform, -webkit-transform;
		background-color: $grayish-blue;
		cursor: pointer;

		&:after,
		&:before {
			@include border-radius(5px, 5px, 5px, 5px);
			cursor: pointer;
			position: absolute;
			width: 30px;
			height: 4px;
			transition-timing-function: ease;
			transition-duration: .15s;
			transition-property: -webkit-transform;
			transition-property: transform;
			transition-property: transform, -webkit-transform;
			background-color: $grayish-blue;
			display: block;
			content: '';
		}

		&:before {top: -8px;}
		&:after {bottom: -8px;}
	}
}


.menu-opener {
	font: inherit;
	float: left;
	position: relative;
	overflow: visible;
	padding: 10px 0;
	width: 20px;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: .15s;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	text-transform: none;
	color: inherit;
	border: 0;
	cursor: pointer;
	background-color: transparent;

	@include media('<tablet') {@include scale(0.8);}

	&:hover,
	&:active{
		.inner {
			&:after,
			&:before {background: $light-blue;}
		}
	}

	.inner {
		@include border-radius(5px, 5px, 5px, 5px);
		display: block;
		position: relative;
		width: 20px;
		height: 4px;
		transition-timing-function: ease;
		transition-duration: .15s;
		transition-property: -webkit-transform;
		transition-property: transform;
		transition-property: transform, -webkit-transform;
		cursor: pointer;

		&:after,
		&:before {
			@include border-radius(5px, 5px, 5px, 5px);
			cursor: pointer;
			position: absolute;
			width: 20px;
			height: 4px;
			transition-timing-function: ease;
			transition-duration: .15s;
			transition-property: -webkit-transform;
			transition-property: transform;
			transition-property: transform, -webkit-transform;
			background-color: $grayish-blue;
			display: block;
			content: '';
		}

		&:before {
			top: -6px;
			-webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
			transform: translate3d(0, 0, 0) rotate(-45deg);
		}
		&:after {
			bottom: -6px;
			-webkit-transform: translate3d(0, 0, 0) rotate(45deg);
			transform: translate3d(0, 0, 0) rotate(45deg);
		}
	}
}