.info-block{
	overflow: hidden;
  	position: relative;
	z-index: 99;
	padding: 50px;
	min-height: 100%;
	
	@include media('≥tablet') {padding: 70px;}
	@include media('≥widescreen') {padding: 90px;}
	
	.jcf-scrollable-wrapper,
	.jcf-scrollable{
		width: 100% !important;
		height: auto !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	&.msg{max-width: 620px;}
	
	.btns{
		overflow: hidden;
		
		.btn{min-width: 100px;}
	}
}


.info-list{
	@extend %listreset;
	white-space: nowrap;
	letter-spacing: -6px;
	width: 100%;
	
	li{
		@include vertical-alignment(top);
		white-space: normal;
		width: 100%;
		padding: 0 7px;
		
		@include media('≥phone') {width: 50%;}
		@include media('≥desktop') {width: 33.33%;}
		@include media('≥widescreen') {width: 25%;}
	}
	
	.box{
		@extend %clearfix;
		position: relative;
		margin: 90px 0;
		
		@include media('≥tablet') {margin: 113px 0;}
		
		&.hover{
			.btn-edit,
			.btn-upload,
			.btn-delete{
				@extend %transition;
				visibility: visible;
				opacity: 1;
			}
		}
	}
	
	.btn-edit,
	.btn-upload,
	.btn-delete{
		@extend %transition;
		@include v-align(100%, middle, before);
		@include border-radius(5px, 5px, 0, 0);
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: -90px;
		background: $light-grayish-blue3;
		color: $grayish-blue;
		display: block;
		font-size: 30px;
		line-height: 30px;
		
		&:hover,
		&:active{background: darken($light-grayish-blue3,5%);}
		
		@include media('≥tablet') {
			font-size: 40px;
			line-height: 40px;
			height: 113px;
			top: -113px;
		}
	}
	
	.btn-delete{
		@include border-radius(0, 0, 5px, 5px);
		top: auto;
		bottom: -90px;
		
		@include media('≥tablet') {bottom: -113px;}
	}
}

.info-box{
	display: block;
	width: 100%;
	position: relative;
	z-index: 999;
	background: $light-blue;
	font-family: $primary-font;
	text-shadow: 0 0 10px rgba($black,.5);
	text-align: left;
	
	.link{
		display: block;
		background: $light-blue;
		color: $white;
		height: 140px;
		padding: 20px 10px 30px 10px;
		font-size: 25px;
		line-height: 25px;
		font-weight: 100;
		@include v-align(100%, middle, before);
		
		&:hover,
		&:active{
			color: $white;
			background: darken($light-blue, 5%);
		}
		
		@include media('≥tablet') {
			height: 168px;
			padding: 30px 20px 40px 20px;
			font-size: 35px;
			line-height: 35px;
		}

		@include media('≥widescreen') {
			font-size: 45px;
			line-height: 45px;
		}
	}
	
	> .info{
		max-width: inherit;
		width: 100%;
		margin: 0 0 0 -4px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	
	
	.caption{
		text-align: left;
		left: 20px;
		right: 20px;
		position: absolute;
		bottom: 15px;
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
		
		@include media('≥tablet') {
			left: 30px;
			right: 30px;
			font-size: 16px;
			line-height: 20px;
		}
		
		@include media('≥widescreen') {
			font-size: 19px;
			line-height: 23px;
		}
		
		.by{
			float: left;
			margin: 0 3px 0 0;
		}
		
		.name{
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}

.confirmation-msg{
	overflow: hidden;
	font-size: 20px;
	line-height: 26px;
	color: $light-blue;
	font-weight: 100;
	margin: 0 0 20px;
	
	@include media('≥tablet') {
		font-size: 30px;
		line-height: 36px;
	}
	
	&.add{color: $red;}
}