.modal-wrapper{
  .modal{
    @include border-radius(5px, 5px, 5px, 5px);
    -webkit-box-shadow: 0 0 40px rgba($black,.24);
	-moz-box-shadow: 0 0 40px rgba($black,.24);
	box-shadow: 0 0 40px rgba($black,.24);

    @include media('≥small-tablet') {
      width: 80%;
      left: 10%;
      right: 10%;
    }
  }
}