.aside-opener {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 99;
	font-size: 30px;
	line-height: 30px;
	@include media("≥tablet") {
		font-size: 42px;
		line-height: 42px;
		left: 40px;
		top: 40px;
	}
}

.project-title{
  display: block;
  color: $white;
  position: relative;
  padding: 15px 10px 15px 35px;
  text-transform: capitalize;
  border-bottom: 1px solid $gray2;

  &:before{
	position: absolute;
	left: 10px;
	top: 50%;
	font-size: 16px;
	line-height: 16px;
	margin-top: -8px;
	content: '\f115';
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	padding: 0;

  }
}

.slide {
	position: fixed;
	width: 220px;
	left: -220px;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background: $grayish-blue;
	@include cubic-transition(all, 600ms, 0.77, 0, 0.175, 1);
	@include media("≥tablet") {
		width: 320px;
		left: -320px;
	}
	.jcf-scrollable {
		overflow: hidden;
		width: 100% !important;
		height: 100% !important;
	}
}

#wrapper .list {
	@extend %listreset;
	padding: 0 0 53px;
	.list {
		overflow: auto;
//		height: 100%;
//		width: 100%;
		pointer-events: all;
		> * {
			overflow: hidden;
			border-width: 0;
			border-bottom: 1px solid $gray2;
			position: relative;
			padding: 10px 30px 10px 0;
			background: none;
			margin: 0;
		}
		&.list-right-editing {
			> * {
				> * {
					background: none;
					padding: 0;
				}
				.item-content {
					padding-left: 35px;
					position: static;
					color: $white;
				}
			}
			.item-right-edit {
				right: auto;
				left: 0;
				width: 35px;
				cursor: move;
				.button,
				.icon{
					color: $white;
					padding: 0 6px;
					margin: 0;
					cursor: move;
					min-width: inherit;
					min-height: inherit;
					width: 100%;
					
					&:after,
					&:before{
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						width: 100%;
						line-height: 100%;
					}
				}
			}
		}
	}
	.delete {
		position: absolute;
		right: 0;
		top: 50%;
		font-size: 20px;
		line-height: 20px;
		padding: 0 5px 0 0;
		margin-top: -10px;
		color: red;
	}
	.link {
		color: $white;
		position: relative;
	}
}

.aside-active {
	.slide {
		left: 0;
		background: $grayish-blue;
		@include cubic-transition(all, 600ms, 0.77, 0, 0.175, 1);
	}
	.aside-opener {
		color: lighten($base-link-color, 20%);
	}
}

.btns-block {
	background: $grayish-blue;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 16px;
	line-height: 20px;
	z-index: 5;
	border-top: 1px solid $white;
	display: table;
	width: 100%;
	a {
		display: table-cell;
		vertical-align: top;
		color: $white;
		padding: 15px 10px;
		text-align: center;
		border-left: 1px solid $white;
		width: 38%;
		&:first-child {border-left: 0;}
		&:last-child {
			width: 14%;
			
			i{@include rotate (-45);}
		}
		.fa {margin-right: 5px;}
	}
}