// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/
$gray                                     : #666;
$gray2                                    : #999;
$black                                    : #000;
$white                                    : #fff;
$red                                      : #f00;
$green                                    : #03fb61;
$base-font-sans-serif                     : 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Body
$base-text-color                          : $gray !default;
$base-background-color                    : $black !default;
$base-font-size                           : 16px !default;
$base-line-height                         : 1.2 !default;
$base-font-family                         : $base-font-sans-serif !default;
$vertical-rhythm                          : ($base-line-height * 1em);
$base-min-width                           : 320px;

// Liks
$base-link-color                          : $gray;
$animation-speed                          : 0.3s;